<section class="home-page-blog section">
    <div class="container">
        <div class="home-page-blog__top">
            <h2 class="home-page-blog__title title-section">
                blog
            </h2>
            <h3 class="home-page-blog__subtitle subtitle">
                Most popular articles
            </h3>
        </div>
        <div class="home-page-blog__articles-box">
            <article class="article-card">
                <div class="article-card__head">
                    <a class="article-card__link-img" href="#">
                        <img src="images/article1.jpg" alt="img">
                    </a>
                    <ul class="article-card__tags">
                        <li class="article-card__tag">
                            <a class="article-card__tag-link" href="#">
                                Marketing
                            </a>
                        </li>
                        <li class="article-card__tag">
                            <a class="article-card__tag-link" href="#">
                                Analysis
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="article-card__content">
                    <div class="article-card__date">
                        November 15, 2022
                    </div>
                    <a class="article-card__title-link" href="#">
                        <h3 class="article-card__title">
                            10 Top tips for making your
                            Saas product sticky
                        </h3>
                    </a>
                    <p class="article-card__text">
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        from
                        when looking at it
                        layout. The point of using Lorem Ipsum
                    </p>
                    <a class="article-card__link" href="#">
                        Read More
                    </a>
                </div>
            </article>

            <article class="article-card">
                <div class="article-card__head">
                    <a class="article-card__link-img" href="#">
                        <img src="images/article2.jpg" alt="img">
                    </a>
                    <ul class="article-card__tags">
                        <li class="article-card__tag">
                            <a class="article-card__tag-link" href="#">
                                Marketing
                            </a>
                        </li>
                        <li class="article-card__tag">
                            <a class="article-card__tag-link" href="#">
                                Analysis
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="article-card__content">
                    <div class="article-card__date">
                        November 20, 2022
                    </div>
                    <a class="article-card__title-link" href="#">
                        <h3 class="article-card__title">
                            Automate Reports Generation with Saasup
                        </h3>
                    </a>
                    <p class="article-card__text">
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        from
                        when looking at it
                        layout. The point of using Lorem Ipsum
                    </p>
                    <a class="article-card__link" href="#">
                        Read More
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>