<section class="homepage-how section">
   <div class="container">
      <div class="homepage-how__top">
         <h2 class="homepage-how__title title-section">
            How It Work
         </h2>
         <h3 class="homepage-how__subtitle subtitle">
            Work smarter
            with easy access for user..
         </h3>
      </div>
      <div class="homepage-how__tabs tabs">
         <ul class="tabs__list">
            <li class="tabs__item">
               <a class="tabs__link tabs__link--active" href="#tab-1">
                  01. Create account
               </a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link" href="#tab-2">
                  02. Install tracking code
               </a>
            </li>
            <li class="tabs__item">
               <a class="tabs__link" href="#tab-3">
                  03. Track analytics
               </a>
            </li>
         </ul>

         <div class="tabs__content">
            <div id="tab-1" class="tabs__content-item tabs__content-item--active">
               <div class="tabs__content-create">
                  <div class="tabs__content-create-left">
                     <h4 class="tabs__content-create-title">
                        Create your account
                        & start your work
                     </h4>
                     <p class="tabs__content-create-text">
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        from when looking at it
                        layout. The point of using Lorem Ipsum
                     </p>
                     <a class="tabs__content-create-link btn btn--black" href="#">
                        Get Started
                     </a>
                  </div>
                  <div class="tabs__content-create-img">
                     <img src="images/how-img.jpg" alt="img">
                  </div>
               </div>
            </div>

            <div id="tab-2" class="tabs__content-item">
               <div class="tabs__content-create">
                  <div class="tabs__content-create-left">
                     <h4 class="tabs__content-create-title">
                        2222 Create your account
                        & start your work
                     </h4>
                     <p class="tabs__content-create-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias suscipit nulla officia ducimus eius, alias dicta soluta quod veniam commodi blanditiis assumenda ipsam sit corrupti beatae laborum magni possimus autem voluptas quo eaque nostrum voluptate aliquam sapiente. Cupiditate molestias debitis eaque numquam corrupti nemo dolorum illo, eos accusantium, esse magnam.
                     </p>
                     <a class="tabs__content-create-link btn btn--black" href="#">
                        Get Started 2
                     </a>
                  </div>
                  <div class="tabs__content-create-img">
                     <img src="images/how-img.jpg" alt="img">
                  </div>
               </div>
            </div>

            <div id="tab-3" class="tabs__content-item">
               <div class="tabs__content-create">
                  <div class="tabs__content-create-left">
                     <h4 class="tabs__content-create-title">
                        3333 Create your account
                        & start your work
                     </h4>
                     <p class="tabs__content-create-text">
                        It is a long established fact that a reader will be distracted by the readable content of a page
                     </p>
                     <a class="tabs__content-create-link btn btn--black" href="#">
                        Get Started 3
                     </a>
                  </div>
                  <div class="tabs__content-create-img">
                     <img src="images/how-img.jpg" alt="img">
                  </div>
               </div>
            </div>


         </div>

      </div>
   </div>
</section>