.faq {
    background-color: $color-primary-1;
    padding: 190px 0;

    @media (max-width: $lg) {
        padding: 100px 0;
    }

    @media (max-width: $md) {
        padding: 70px 0;
    }

    @media (max-width: $sm) {
        padding: 40px 0;
    }

    &__title {
        color: $color-secondary-4;
        text-align: center;
        margin-bottom: 50px;

        @media (max-width: $sm) {
            margin-bottom: 25px;
        }
    }
    &__accordion {
    }
}

.accordion {
    max-width: 986px;
    margin: 0 auto;

    &__item {
        background-color: $color-secondary-4;
        border-radius: 20px;
        padding: 26px 39px;
        transition: background-color 0.3s;

        @media (max-width: $md) {
            padding: 15px 20px;
        }

        &:not(:last-child) {
            margin-bottom: 34px;

            @media (max-width: $sm) {
                margin-bottom: 20px;
            }
        }
    }

    &__item-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;

        &.active {
            .accordion__item-trigger-icon {
                transform: rotate(270deg);
            }

            .accordion__item-content {
                display: block;
            }
        }
    }

    &__item-title {
        font-weight: 600;
        color: $color-primary-2;
        margin-right: 10px;
    }

    &__item-trigger {
        @extend %center;
        border-radius: 100%;
        background-color: $color-primary-1;
        max-width: 100%;
        min-width: 59px;
        height: 59px;

        @media (max-width: $md) {
            min-width: 35px;
            height: 35px;
        }
    }

    &__item-trigger-icon {
        fill: $color-secondary-4;
        width: 11px;
        height: 33px;
        transform: rotate(180deg);
        transition: transform 0.3s;

        @media (max-width: $sm) {
            width: 7px;
            height: 12px;
        }
    }

    &__item-content {
        display: none;
    }
}
