.homepage-how {
   &__top {
      max-width: 625px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px;
   }

   &__title {
   }
   &__subtitle {
   }
   &__tabs {
   }
}

.tabs {
   &__list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;
   }

   &__item {
      text-align: center;
      background-color: $color-secondary-1;
   }

   &__link {
      display: block;
      width: 448px;
      font-size: 30px;
      line-height: 1.1;
      font-weight: 700;
      color: $color-primary-2;
      padding: 40px 50px;
      border-radius: 20px;
      transition: all 0.3s;
      
      &--active {
         color: $color-secondary-4;
         background-color: $color-primary-1;
      }
   }

   &__content {
      padding: 0 65px;
   }
   &__content-item {
      display: none;

      &--active {
         display: block;
      }
   }

   &__content-create {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__content-create-left {
      max-width: 580px;
   }

   &__content-create-title {
      font-size: 40px;
      line-height: 1.2;
      font-weight: 700;
      color: $color-primary-2;
      padding-left: 120px;
      margin-bottom: 22px;
      position: relative;

      &::before {
         @include pseudo;
         top: 0;
         left: 0;
         width: 97px;
         height: 97px;
         background-image: url("../images/icon-tabs.svg");
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
      }
   }

   &__content-create-text {
      margin-bottom: 40px;
   }
   &__content-create-link {
   }
   &__content-create-img {
   }
   &__content-install {
   }
   &__content-track {
   }
}
