.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 15px 60px 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    max-width: 1430px;
    margin: 0 auto;
    z-index: 100;
    transition: all 0.3s;

    @media (max-width: $xl) {
        padding: 30px 15px;
    }

    @media (max-width: $md) {
        padding: 15px 15px;
    }

    &__inner {
        display: flex;

        @media (max-width: $lg) {
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            right: -200%;
            text-align: center;
            background-color: rgba(164, 104, 255, 1);
            display: block;
            overflow: auto;
            padding: 100px 0 20px;
        }

        &.active {
            right: 0;

            &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: 111px;
                top: 0;
                left: 0;
                background-color: rgba(164, 104, 255, 1);
                z-index: 2;

                @media (max-width: $md) {
                    height: 81px;
                }

                @media (max-width: $sm) {
                    height: 74px;
                }
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 38px;
        color: $color-secondary-4;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 39px;
        padding: 24px 52px;
        margin-right: 40px;
        font-weight: 600;

        @media (max-width: $xxl) {
            gap: 30px;
            margin-right: 25px;
        }

        @media (max-width: $xl) {
            gap: 10px;
            margin-right: 15px;
            padding: 0 15px;
        }

        @media (max-width: $lg) {
            display: block;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 25px;
            padding: 5px 0;
            border-radius: 0;
        }

        &--secondary {
            background-color: $color-secondary-1;
        }
    }

    &__item {
        position: relative;
        transition: all 0.3s;

        @media (min-width: $lg) {
            &:hover {
                .sub-menu__list {
                    display: block;
                }
                .menu__link-icon {
                    transform: rotate(180deg);
                }
            }
        }

        @media (max-width: $lg) {
            background-color: rgba(164, 104, 255, 1);

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__link {
        color: inherit;
        transition: color 0.3s;
        padding: 0 5px;

        &:hover {
            color: $color-primary-2;
            .menu__link-icon {
                fill: $color-primary-2;
            }
        }

        &:active {
            color: rgba(36, 35, 49, 0.5);
        }

        &--active {
            font-weight: 800;
            color: $color-primary-2;
        }

        &-arrow {
            @media (max-width: $lg) {
                position: absolute;
                top: 3px;
                right: 10px;
                width: 44px;
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;

                &.open {
                    .menu__link-icon {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &-icon {
            width: 18px;
            height: 12px;
            fill: $color-secondary-4;
            margin-left: 5px;
            transition: transform 0.3s;

            @media (max-width: $lg) {
                margin-left: 0;
            }

            &--secondary {
                fill: $color-primary-2;
            }
        }

        @media (max-width: $lg) {
            display: block;
            margin: 0 auto;
            padding: 10px 0;
        }

        &--secondary {
            color: $color-primary-2;

            &:hover {
                color: $color-primary-1;
                .menu__link-icon--secondary {
                    fill: $color-primary-1;
                }
            }

            &:active {
                color: rgba(82, 54, 255, 0.5);
            }
        }
    }

    &__btn {
        @media (max-width: $lg) {
            display: block;
            width: 100%;
            border-radius: 0;
        }
    }
}

.sub-menu {
    &__list {
        display: none;
        font-size: 18px;
        position: absolute;
        top: 20px;
        left: 0;
        padding-top: 20px;

        @media (max-width: $lg) {
            position: static;
            font-size: 16px;
            padding-top: 0;

            &.open {
                display: block;
            }
        }
    }

    &__item {
        background-color: rgba(105, 80, 255, 1);
        padding: 0 5px;

        &:first-child {
            border-radius: 8px 8px 0 0;
        }
        &:last-child {
            border-radius: 0 0 8px 8px;
        }

        @media (max-width: $lg) {
            padding: 0;

            &:not(:last-child) {
                border-bottom: 2px solid rgba(255, 255, 255, 0.5);
            }

            &:first-child {
                border-radius: 0;
            }
            &:last-child {
                border-radius: 0;
            }
        }
    }

    &__link {
        display: inline-block;
        padding: 8px 0;
        transition: all 0.3s;

        @media (max-width: $lg) {
            display: block;
            padding: 10px 0;
        }

        &:hover {
            color: $color-primary-2;
        }

        &:active {
            color: rgba(36, 35, 49, 0.5);
        }
    }
}
