<section class="homepage-blog section">
    <div class="container">
        <div class="homepage-blog__heading heading">
            <div class="homepage-blog__label-section label-section">
                blog
            </div>
            <h2 class="homepage-blog__title title-800 title-800--lg">
                Most popular articles
            </h2>
        </div>
        <div class="homepage-blog__articles-box">
            <article class="article-card">
                <div class="article-card__head">
                    <a class="article-card__link-img" href="#">
                        <img src="images/blog/article1.jpg" alt="img">
                    </a>
                    <ul class="article-card__tags">
                        <li class="article-card__tag">
                            <a class="article-card__tag-link" href="#">
                                Marketing
                            </a>
                        </li>
                        <li class="article-card__tag">
                            <a class="article-card__tag-link" href="#">
                                Analysis
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="article-card__content">
                    <div class="article-card__date">
                        November 15, 2022
                    </div>
                    <a class="article-card__title-link" href="#">
                        <h3 class="article-card__title title-800 title-800--md">
                            10 Top tips for making your
                            Saas product sticky
                        </h3>
                    </a>
                    <p class="article-card__text">
                        It is a long established fact that a reader will be distracted by the readable content of a page

                    </p>
                </div>
                <a class="article-card__link" href="#">
                    Read More
                </a>
            </article>

            <article class="article-card">
                <div class="article-card__head">
                    <a class="article-card__link-img" href="#">
                        <img src="images/blog/article2.jpg" alt="img">
                    </a>
                    <ul class="article-card__tags">
                        <li class="article-card__tag">
                            <a class="article-card__tag-link" href="#">
                                Marketing
                            </a>
                        </li>
                        <li class="article-card__tag">
                            <a class="article-card__tag-link" href="#">
                                Analysis
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="article-card__content">
                    <div class="article-card__date">
                        November 20, 2022
                    </div>
                    <a class="article-card__title-link" href="#">
                        <h3 class="article-card__title title-800 title-800--md">
                            Automate Reports Generation with Saasup
                        </h3>
                    </a>
                    <p class="article-card__text">
                        It is a long established fact that a reader will be distracted by the readable content of a page
                    </p>
                </div>
                <a class="article-card__link" href="#">
                    Read More
                </a>
            </article>
        </div>
    </div>
</section>