<section class="homepage-testimonial section">
    <div class="container">
        <div class="homepage-testimonial__heading heading">
            <div class="homepage-testimonial__label-section label-section">
                Testimonial
            </div>
            <h2 class="homepage-testimonial__title title-800 title-800--lg ">
                Trusted by millions of creators.
            </h2>
        </div>
        <div class="homepage-testimonial__slider slider-testimonial">
            <div class="slider-testimonial__item-testimonial">
                <blockquote class="slider-testimonial__blockquote">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form,
                </blockquote>
                <div class="slider-testimonial__author">
                    <img class="slider-testimonial__author-img" src="images/author-img1.jpg" width="108" height="108"
                        alt="photo James Toriff">
                    <cite class="slider-testimonial__author-name">
                        James Toriff
                    </cite>
                    <span class="slider-testimonial__author-position">
                        Developer
                    </span>
                    <div class="slider-testimonial__author-rating" data-rateyo-rating="4.5"></div>
                </div>
            </div>

            <div class="slider-testimonial__item-testimonial">
                <blockquote class="slider-testimonial__blockquote">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in
                    some form,
                    by injected humour, or randomised words which don't look even slightly believable. If you are going
                </blockquote>
                <div class="slider-testimonial__author">
                    <img class="slider-testimonial__author-img" src="images/author-img1.jpg" width="108" height="108"
                        alt="photo James Toriff">
                    <cite class="slider-testimonial__author-name">
                        James Toriff
                    </cite>
                    <span class="slider-testimonial__author-position">
                        Developer
                    </span>
                    <div class="slider-testimonial__author-rating" data-rateyo-rating="4.5"></div>
                </div>
            </div>

            <div class="slider-testimonial__item-testimonial">
                <blockquote class="slider-testimonial__blockquote">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in
                    some form,
                    by injected humour, or randomised words which don't look even slightly believable. If you are going
                    to use a
                    passage .
                </blockquote>
                <div class="slider-testimonial__author">
                    <img class="slider-testimonial__author-img" src="images/author-img1.jpg" width="108" height="108"
                        alt="photo James Toriff">
                    <cite class="slider-testimonial__author-name">
                        James Toriff
                    </cite>
                    <span class="slider-testimonial__author-position">
                        Developer
                    </span>
                    <div class="slider-testimonial__author-rating" data-rateyo-rating="4.5"></div>
                </div>
            </div>


        </div>
        <div class="homepage-testimonial__decor-testimonial">
            <div class="homepage-testimonial__decor-testimonial-item homepage-testimonial__decor-testimonial-item--1">
                <img src="images/testimonial-decor1.svg" alt="decor circle">
            </div>
            <div class="homepage-testimonial__decor-testimonial-item homepage-testimonial__decor-testimonial-item--2">
                <img src="images/testimonial-decor2.svg" alt="decor circle">
            </div>
            <div class="homepage-testimonial__decor-testimonial-item homepage-testimonial__decor-testimonial-item--3">
                <img src="images/testimonial-decor3.svg" alt="decor circle">
            </div>
        </div>
    </div>
</section>