.scroll-up {
    @extend %center;
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: rgba(121, 121, 121, 0.8);
    border-radius: 100%;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(25px);

    @media (max-width: $sm) {
        right: 15px;
        width: 45px;
        height: 45px;
    }

    &:hover {
        background-color: rgba(121, 121, 121, 1);
    }

    &:active {
        background-color: rgba(121, 121, 121, 0.7);
    }

    &--active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    &__icon {
        width: 40px;
        height: 65px;
        fill: rgba(255, 255, 255, 1);

        @media (max-width: $sm) {
            width: 30px;
            height: 55px;
        }
    }
}
