<footer class="footer section">
   <div class="container">
      <div class="footer__inner">
         <div class="footer__top">
            <div class="footer__contacts contacts">
               <a class="footer__logo logo" href="#body">
                  <img class="logo__img" src="images/logo.png" width="173" height="41" alt="logo SaaSup">
               </a>
               <address class="contacts">
                  <p class="contacts__text">
                     It is a long established fact that from
                     will be distracted by the readable
                     from when looking.
                  </p>
                  <ul class="contacts__email-list">
                     <li class="contacts__email-item">
                        <a class="contacts__email-link" href="mailto:saasup@gmail.com">
                           saasup@gmail.com
                        </a>
                     </li>
                     <li class="contacts__email-item">
                        <a class="contacts__email-link" href="mailto:mail@saasup.com">
                           mail@saasup.com
                        </a>
                     </li>
                  </ul>

                  <ul class="contacts__phone-list">
                     <li class="contacts__phone-item">
                        <a class="contacts__phone-link" href="tel:987 6541 3654">
                           +987 6541 3654
                        </a>
                     </li>
                     <li class="contacts__phone-item">
                        <a class="contacts__phone-link" href="tel:001 6547 6589">
                           +001 6547 6589
                        </a>
                     </li>
                  </ul>
               </address>
            </div>
            <div class="footer__pages">
               <h4 class="footer__pages-title title-700">
                  Pages
               </h4>
               <ul class="footer__pages-list">
                  <li class="footer__pages-item">
                     <a class="footer__pages-link" href="#">
                        Home
                     </a>
                  </li>
                  <li class="footer__pages-item">
                     <a class="footer__pages-link" href="#">
                        About Us
                     </a>
                  </li>
                  <li class="footer__pages-item">
                     <a class="footer__pages-link" href="#">
                        Integrations
                     </a>
                  </li>
                  <li class="footer__pages-item">
                     <a class="footer__pages-link" href="#">
                        Pricing
                     </a>
                  </li>
                  <li class="footer__pages-item">
                     <a class="footer__pages-link" href="#">
                        Features
                     </a>
                  </li>
                  <li class="footer__pages-item">
                     <a class="footer__pages-link" href="#">
                        Contact Us
                     </a>
                  </li>
               </ul>
            </div>
            <div class="footer__utility">
               <h4 class="footer__utility-title title-700">
                  Utility
               </h4>
               <ul class="footer__utility-list">
                  <li class="footer__utility-item">
                     <a class="footer__utility-link" href="#">
                        Password
                     </a>
                  </li>
                  <li class="footer__utility-item">
                     <a class="footer__utility-link" href="#">
                        Protected
                     </a>
                  </li>
                  <li class="footer__utility-item">
                     <a class="footer__utility-link" href="#">
                        404 Not Found
                     </a>
                  </li>
                  <li class="footer__utility-item">
                     <a class="footer__utility-link" href="#">
                        Style Guide
                     </a>
                  </li>
                  <li class="footer__utility-item">
                     <a class="footer__utility-link" href="#">
                        Licenses
                     </a>
                  </li>
                  <li class="footer__utility-item">
                     <a class="footer__utility-link" href="#">
                        CChangelog
                     </a>
                  </li>
               </ul>
            </div>
            <div class="footer__app">
               <h4 class="footer__app-title title-700">
                  <span>Download</span>
                  Its suitable to all
                  decvices and screens
               </h4>
               <p class="footer__app-text">
                  It is a long established fact that a reader will be distracted layout.
               </p>
               <ul class="footer__app-list">
                  <li class="footer__app-item">
                     <a class="footer__app-link btn btn--black" href="#">
                        <svg class="footer__app-link-icon footer__app-link-icon--apple">
                           <use xlink:href="images/sprite.svg#icon-apple"></use>
                        </svg>
                        App Store
                     </a>
                  </li>
                  <li class="footer__app-item">
                     <a class="footer__app-link btn btn--border" href="#">
                        <svg class="footer__app-link-icon footer__app-link-icon--android">
                           <use xlink:href="images/sprite.svg#icon-android"></use>
                        </svg>
                        Play Store
                     </a>
                  </li>
               </ul>
            </div>
         </div>

         <div class="footer__bottom">
            <div class="footer__bottom-copyright">
               Copyright © Saasup | Designed by Victorflow - Powered by Webflow
            </div>
            <div class="footer__bottom-social social">
               <ul class="social__list">
                  <li class="social__item">
                     <a class="social__link" href="#">
                        <svg class="social__link-icon social__link-icon--facebook">
                           <use xlink:href="images/sprite.svg#facebook"></use>
                        </svg>
                     </a>
                  </li>
                  <li class="social__item">
                     <a class="social__link" href="#">
                        <svg class="social__link-icon social__link-icon--twitter">
                           <use xlink:href="images/sprite.svg#twitter"></use>
                        </svg>
                     </a>
                  </li>
                  <li class="social__item">
                     <a class="social__link" href="#">
                        <svg class="social__link-icon social__link-icon--linkedin">
                           <use xlink:href="images/sprite.svg#linkedin"></use>
                        </svg>
                     </a>
                  </li>
                  <li class="social__item">
                     <a class="social__link" href="#">
                        <svg class="social__link-icon social__link-icon--instagram">
                           <use xlink:href="images/sprite.svg#instagram"></use>
                        </svg>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>

</footer>