<section class="homepage-main" style="background-image: url('images/homepage-main-bg.png');">
    <div class="container">
        <div class="homepage-main__inner">
            <div class="homepage-main__content">
                <h1 class="homepage-main__title title-page">
                    Build your
                    audience and
                    grow your brand
                </h1>
                <p class="homepage-main__text">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    interdum ullamcorper sed pharetra sene.
                </p>
                <div class="homepage-main__box-link">
                    <a class="homepage-main__link btn btn--blue" href="#">
                        Get Started
                    </a>
                    <a data-fancybox class="homepage-main__link-video btn btn--gray"
                        href="https://youtu.be/pWOv9xcoMeY">
                        Watch Video
                        <div class="homepage-main__link-icon">
                            <svg class="homepage-main__link-arrow">
                                <use xlink:href="images/sprite.svg#arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="homepage-main__img">
                <img src="images/homepage-img.jpg" alt="img graphs">
            </div>
        </div>
    </div>
    <div class="homepage-main__decor">
        <div class="homepage-main__decor-item homepage-main__decor-item--1">
            <img src="images/main-decor1.svg" alt="decor circle">
        </div>
        <div class="homepage-main__decor-item homepage-main__decor-item--2">
            <img src="images/main-decor2.svg" alt="decor circle">
        </div>
        <div class="homepage-main__decor-item homepage-main__decor-item--3">
            <img src="images/main-decor3.svg" alt="decor circle">
        </div>
    </div>
</section>