.home-page-blog {
    &__heading {
        
    }

    &__title {}

    &__subtitle {}

    &__articles-box {
        display: flex;
        align-items: center;
        gap: 40px;

        @media (max-width: $xl) {
            gap: 20px;
        }

        @media (max-width: $lg) {
            flex-direction: column;
        }
    }
}

.article-card {
    max-width: 680px;
    background-color: $color-secondary-1;
    border-radius: 50px;
    padding: 40px;
    transition: all 0.3s;

    @media (max-width: $sm) {
        border-radius: 30px;
        padding: 20px 15px;
    }

    &__head {
        position: relative;
        margin-bottom: 45px;

        @media (max-width: $sm) {
            margin-bottom: 20px;
        }

        img {
            border-radius: 40px;

            @media (max-width: $sm) {
                border-radius: 30px;
            }
        }
    }

    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        position: absolute;
        left: 20px;
        bottom: 20px;
        z-index: 10;

        @media (max-width: $sm) {
            gap: 5px;
            left: 8px;
            bottom: 8px;
        }
    }

    &__tag {
        &-link {
            display: block;
            font-size: 18px;
            line-height: 1.36;
            font-weight: 700;
            background-color: $color-secondary-4;
            color: $color-primary-2;
            padding: 15px 40px;
            border-radius: 39px;
            transition: all 0.3s;

            @media (max-width: $sm) {
                font-size: 14px;
                padding: 5px 15px;
            }

            &:hover {
                background-color: rgba(121, 121, 121, 0.8);
            }
        }
    }

    &__content {
    }

    &__date {
        font-size: 18px;
        margin-bottom: 18px;

        @media (max-width: $sm) {
            font-size: 16px;
            margin-bottom: 8px;
        }
    }

    &__title {
        line-height: 1.23;
        margin-bottom: 18px;
        transition: all 0.3s;

        @media (max-width: $sm) {
            margin-bottom: 8px;
        }

        &:hover {
            text-decoration: underline;
        }

        &-link {
        }
    }

    &__text {
        margin-bottom: 38px;

        @media (max-width: $sm) {
            margin-bottom: 22px;
        }
    }

    &__link {
        color: $color-primary-1;
        text-decoration: underline;
        transition: color 0.3s;

        &:hover {
            color: rgba(82, 54, 255, 0.5);
        }
    }
}
