.home-page-blog {
    &__heading {
        
    }

    &__title {}

    &__subtitle {}

    &__articles-box {
        display: flex;
        align-items: center;
        gap: 40px;

        @media (max-width: $xl) {
            gap: 20px;
        }

        @media (max-width: $lg) {
            flex-direction: column;
        }
    }
}
