.homepage-about {
    position: relative;
    padding-bottom: 47px;

    &::before {
        @include pseudo;
        top: 0;
        right: 0;
        bottom: 0;
        width: 368px;
        height: 750px;
        background-image: url("../images/decor-about.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;

        @media (max-width: $lg) {
            display: none;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $lg) {
            flex-direction: column;
        }
    }

    &__content {
        max-width: 44%;
        margin-right: 60px;

        @media (max-width: $lg) {
            max-width: 80%;
            margin-right: 0;
            margin-bottom: 50px;
        }

        @media (max-width: $md) {
            max-width: 100%;
        }

        &-top {
            @media (max-width: $lg) {
                text-align: center;
            }
        }
    }

    &__title {
        margin-bottom: 25px;
    }

    &__subtitle {
        margin-bottom: 26px;
    }

    &__text {
        margin-bottom: 42px;
    }

    &__content-bottom {
        padding: 0 0 26px 115px;
        position: relative;

        @media (max-width: $sm) {
            padding: 60px 0 0 0;
            text-align: center;
        }

        &::before {
            @include pseudo;
            top: 0;
            left: 0;
            width: 96px;
            height: 103px;
            background-image: url("../images/icons/icon-coins.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            @media (max-width: $sm) {
                width: 48px;
                height: 52px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-title {
            margin-bottom: 10px;

            @media (max-width: $sm) {
                font-size: 28px;
            }
        }

        &-text {
        }
    }

    &__img {
        max-width: 52%;

        @media (max-width: $lg) {
            max-width: 100%;
        }
    }
}
