<section class="contacts-offices section">
    <div class="container">
        <h2 class="contacts-offices__title title-800 title-800--lg heading">
            We help small businesses with big
            hearts make meaningful hires
        </h2>
        <ul class="contacts-offices__offices-list">
            <li class="contacts-offices__offices-item contacts-offices__offices-item--pink">
                <h3 class="contacts-offices__offices-title title-800 title-800--sm">
                    Paris
                </h3>
                <p class="contacts-offices__offices-text">
                    19 Maypole Crescent
                    Ilford,L62UJ
                </p>
                <a class="contacts-offices__offices-phone contacts-offices__offices-phone--pink" href="tel:4158703204">
                    (415) 870 – 3204
                </a>
            </li>
            <li class="contacts-offices__offices-item contacts-offices__offices-item--yellow">
                <h3 class="contacts-offices__offices-title title-800 title-800--sm">
                    New York
                </h3>
                <p class="contacts-offices__offices-text">
                    19 Maypole Crescent
                    Ilford,L62UJ
                </p>
                <a class="contacts-offices__offices-phone contacts-offices__offices-phone--yellow" href="tel:4158703204">
                    (415) 870 – 3204
                </a>
            </li>
            <li class="contacts-offices__offices-item contacts-offices__offices-item--turquoise">
                <h3 class="contacts-offices__offices-title title-800 title-800--sm">
                    Hanoi
                </h3>
                <p class="contacts-offices__offices-text">
                    19 Maypole Crescent
                    Ilford,L62UJ
                </p>
                <a class="contacts-offices__offices-phone contacts-offices__offices-phone--turquoise" href="tel:4158703204">
                    (415) 870 – 3204
                </a>
            </li>
        </ul>
    </div>
</section>