<section class="faq section">
    <div class="container">
        <h2 class="faq__title title-800 title-800--lg">
            Frequently Asked Questions
        </h2>
        <div class="faq__accordion accordion">
            <div class="accordion__item">
                <div class="accordion__item-top one">
                    <h4 class="accordion__item-title title-800 title-800--sm">
                        Where is my order? Quisque molestie
                    </h4>
                    <button class="accordion__item-trigger">
                        <svg class="accordion__item-trigger-icon">
                          <use xlink:href="images/sprite.svg#arrow-left"></use>
                        </svg>
                    </button>
                </div>
                <p class="accordion__item-content">
                    The are going to use a passage of Lorem Ipsum, you need to be sure tdembarrassing hidden in the middle of text. All the
                    Lorem generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on
                    the Internet.
                </p>
            </div>
            <div class="accordion__item">
                <div class="accordion__item-top">
                    <h4 class="accordion__item-title title-800 title-800--sm">
                        How can I return an item purchased online?
                    </h4>
                    <button class="accordion__item-trigger">
                        <svg class="accordion__item-trigger-icon">
                            <use xlink:href="images/sprite.svg#arrow-left"></use>
                        </svg>
                    </button>
                </div>
                <p class="accordion__item-content">
                    The are going to use a passage of Lorem Ipsum, you need to be sure tdembarrassing hidden in the middle of text.
                    All the
                    Lorem generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
                    generator on
                    the Internet.
                </p>
            </div>
            <div class="accordion__item">
                <div class="accordion__item-top">
                    <h4 class="accordion__item-title title-800 title-800--sm">
                        Can I cancel or change my order?
                    </h4>
                    <button class="accordion__item-trigger">
                        <svg class="accordion__item-trigger-icon">
                            <use xlink:href="images/sprite.svg#arrow-left"></use>
                        </svg>
                    </button>
                </div>
                <p class="accordion__item-content">
                    The are going to use a passage of Lorem Ipsum, you need to be sure tdembarrassing hidden in the middle of text.
                    All the
                    Lorem generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
                    generator on
                    the Internet.
                </p>
            </div>
            <div class="accordion__item">
                <div class="accordion__item-top">
                    <h4 class="accordion__item-title title-800 title-800--sm">
                        I have a promotional or discount code?
                    </h4>
                    <button class="accordion__item-trigger">
                        <svg class="accordion__item-trigger-icon">
                            <use xlink:href="images/sprite.svg#arrow-left"></use>
                        </svg>
                    </button>
                </div>
                <p class="accordion__item-content">
                    The are going to use a passage of Lorem Ipsum, you need to be sure tdembarrassing hidden in the middle of text.
                    All the
                    Lorem generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
                    generator on
                    the Internet.
                </p>
            </div>
            <div class="accordion__item">
                <div class="accordion__item-top">
                    <h4 class="accordion__item-title title-800 title-800--sm">
                        Can I integrate my store with Facebook?
                    </h4>
                    <button class="accordion__item-trigger">
                        <svg class="accordion__item-trigger-icon">
                            <use xlink:href="images/sprite.svg#arrow-left"></use>
                        </svg>
                    </button>
                </div>
                <p class="accordion__item-content">
                    The are going to use a passage of Lorem Ipsum, you need to be sure tdembarrassing hidden in the middle of text.
                    All the
                    Lorem generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
                    generator on
                    the Internet.
                </p>
            </div>
      
        </div>
    </div>
</section>