<section class="newsletter">
   <div class="container">
      <div class="newsletter__inner" style="background-image: url('images/newsletter-bg.jpg')">
         <div class="newsletter__content">
            <h2 class="newsletter__title subtitle">
               Start your free trial today
            </h2>
            <p class="newsletter__text">
               It is a long established fact that a reader will be
               by the readable when looking at it layout.
            </p>
            <form class="newsletter__form form-newsletter">
               <labe class="form-newsletter__label">
                  <input class="form-newsletter__input" type="email" name="email" placeholder="your mail here..."
                     required>
               </labe>
               <button class="form-newsletter__btn btn" type="submit">
                  Get Started
               </button>
            </form>
         </div>

         <div class="newsletter__img">
            <img src="images/newsletter-img.png" width="668" height="494" alt=" img graph">
         </div>
      </div>
   </div>
</section>