<header class="header">
   <div class="container">
      <nav class="menu">
         <a class="logo" href="#body">
            <img class="logo__img" src="images/logo.png" width="173" height="41" alt="logo SaaSup">
         </a>
         <div class="menu__inner">

            <ul class="menu__list ">
               <li class="menu__item">
                  <a class="menu__link menu__link-page2  menu__link--active" href="#">
                     Home
                  </a>
               </li>
               <li class="menu__item">
                  <a class="menu__link" href="#">
                     About
                  </a>
               </li>
               <li class="menu__item">
                  <a class="menu__link" href="#">
                     Features
                     <svg class="menu__link-icon">
                        <use xlink:href="images/sprite.svg#triangle-down"></use>
                     </svg>
                  </a>
                  <ul class="sub-menu__list">
                     <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">
                           Features111
                        </a>
                     </li>
                     <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">
                           Features222
                        </a>
                     </li>
                     <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">
                           Features333
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="menu__item">
                  <a class="menu__link" href="#">
                     Pages
                     <svg class="menu__link-icon">
                        <use xlink:href="images/sprite.svg#triangle-down"></use>
                     </svg>
                  </a>
                  <ul class="sub-menu__list">
                     <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">
                           Home
                        </a>
                     </li>
                     <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">
                           About Us
                        </a>
                     </li>
                     <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">
                           Integrations
                        </a>
                     </li>
                     <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">
                           Pricing
                        </a>
                     </li>
                     <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">
                           Features
                        </a>
                     </li>
                     <li class="sub-menu__item">
                        <a class="sub-menu__link" href="#">
                           Contact Us
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="menu__item">
                  <a class="menu__link" href="#">
                     Blog
                  </a>
               </li>
               <li class="menu__item">
                  <button class="menu__link btn-cart">
                     Cart (<span>0</span>)
                  </button>
               </li>
            </ul>

            <button class="menu__btn btn btn--white" type="button">
               Sign In
            </button>

         </div>

         <button class="burger" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">mobile menu</span>
      </button>
      </nav>
   </div>
</header>