<section class="about-us-career">
    <div class="container">
        <div class="about-us-career__inner">
            <div class="about-us-career__heading headin">
                <div class="about-us-career__subtitle subtitle">
                    Career
                </div>
                <h2 class="about-us-career__title title-800 title-800--lg">
                    Join our Saasup
                    Let’s work together
                </h2>
            </div>

            <ul class="about-us-career__career-list">
                <li class="about-us-career__career-item">
                    <article class="about-us-career__career-card card-career">
                        <h3 class="card-career__title title-700">
                            Web Designer & Developer
                        </h3>
                        <div class="card-career__block-info">
                            <span class="card-career__location">
                                San Francisco, CA
                            </span>
                            <span class="card-career__employment-type">
                                Full Time
                            </span>
                        </div>
                        <p class="card-career__text">
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page from when looking at it
                            layout. The point of using Lorem Ipsum looking at it layout.
                        </p>
                        <a class="card-career__link btn btn--white" href="#">
                            Apply Now
                        </a>
                    </article>
                </li>
                <li class="about-us-career__career-item">
                    <article class="about-us-career__career-card card-career">
                        <h3 class="card-career__title title-700">
                            Product Development manager
                        </h3>
                        <div class="card-career__block-info">
                            <span class="card-career__location">
                                San Francisco, CA
                            </span>
                            <span class="card-career__employment-type">
                                Full Time
                            </span>
                        </div>
                        <p class="card-career__text">
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page from when looking at it
                            layout. The point of using Lorem Ipsum looking at it layout.
                        </p>
                        <a class="card-career__link btn btn--white" href="#">
                            Apply Now
                        </a>
                    </article>
                </li>
                <li class="about-us-career__career-item">
                    <article class="about-us-career__career-card card-career">
                        <h3 class="card-career__title title-700">
                            Head of finnance
                        </h3>
                        <div class="card-career__block-info">
                            <span class="card-career__location">
                                San Francisco, CA
                            </span>
                            <span class="card-career__employment-type">
                                Full Time
                            </span>
                        </div>
                        <p class="card-career__text">
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page from when looking at it
                            layout. The point of using Lorem Ipsum looking at it layout.
                        </p>
                        <a class="card-career__link btn btn--white" href="#">
                            Apply Now
                        </a>
                    </article>
                </li>
                <li class="about-us-career__career-item">
                    <article class="about-us-career__career-card card-career card-career--blue">
                        <h3 class="card-career__title title-700 title-700--white">
                            Can't find the position you are looking for?
                        </h3>
                        <p class="card-career__text">
                            Don't worry, get in touch with us anyways, we are always looking for great team members to
                            join us.
                        </p>
                        <a class="card-career__link btn btn--white" href="#">
                            Apply Now
                        </a>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>