<div class="about-us-info">
    <div class="container">
        <ul class="about-us-info__info-list">
            <li class="about-us-info__info-item">
                <div class="about-us-info__info-num title-page">
                    100 <span>M</span>
                </div>
                Client Satisfaction
            </li>
            <li class="about-us-info__info-item">
                <div class="about-us-info__info-num title-page">
                    24 <span>h</span>
                </div>
                Expert Support Team
            </li>
            <li class="about-us-info__info-item">
                <div class="about-us-info__info-num title-page">
                    98 <span>k+</span>
                </div>
                Sales Count
            </li>
            <li class="about-us-info__info-item">
                <div class="about-us-info__info-num title-page">
                    208 <span>+</span>
                </div>
                Client Worldwide
            </li>
        </ul>
    </div>
</div>