<section class="about-us-values section">
    <div class="container">
        <div class="about-us-values__heading heading">
            <div class="about-us-values__label-section label-section">
                Our values
            </div>
            <h2 class="about-us-values__title title-800 title-800--lg">
                The story and values behind
                our company
            </h2>
        </div>
        <ul class="about-us-values__values-list">
            <li class="about-us-values__values-item item-values item-values--1 ">
                <h3 class="item-values__title title-700">
                    Innovation
                </h3>
                <p class="item-values__text">
                    Long established fact that a readeed to will be distracted by the readable content of a page when
                    looking at its layout
                </p>
            </li>
            <li class="about-us-values__values-item item-values item-values--2">
                <h3 class="item-values__title title-700">
                    Team work
                </h3>
                <p class="item-values__text">
                    Long established fact that a readeed to will be distracted by the readable content of a page when
                    looking at its
                    layout
                </p>
            </li>
            <li class="about-us-values__values-item item-values item-values--3">
                <h3 class="item-values__title title-700">
                    Excellence
                </h3>
                <p class="item-values__text">
                    Long established fact that a readeed to will be distracted by the readable content of a page when
                    looking at its
                    layout
                </p>
            </li>
            <li class="about-us-values__values-item item-values item-values--4">
                <h3 class="item-values__title title-700">
                    Responsibility
                </h3>
                <p class="item-values__text">
                    Long established fact that a readeed to will be distracted by the readable content of a page when
                    looking at its
                    layout
                </p>
            </li>
        </ul>
    </div>
</section>