<section class="about-us-main">
    <div class="container">
        <div class="about-us-main__heading heading">
            <h1 class="about-us-main__heading-title title-800 title-800--xl">
                About our company
            </h1>
            <p class="about-us-main__heading-text">
                Lorem ipsum dolor sit amet consectetur adipiscing elit
                interdum ullamcorper sed pharetra sene.
            </p>
        </div>
        <div class="about-us-main__img-box">
            <div class="about-us-main__img">
                <img class="about-us-main__img-left" src="images/about-us/team-1.jpg" alt="photo of our team">
            </div>

            <div class="about-us-main__img">
                <img class="about-us-main__img-right" src="images/about-us/team-2.jpg" alt="photo of our team">
            </div>
        </div>
        <div class="about-us-main__bottom">
            <h2 class="about-us-main__bottom-title title-800 title-800--lg">
                What we do
            </h2>
            <div class="about-us-main__bottom-box">
                <p class="about-us-main__bottom-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its
                    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                    letters, as opposed to
                    using.
                </p>
                <p class="about-us-main__bottom-text">
                    Content here', making it look like readable English. Many desktop publishing packages and web
                    page editors now use Lorem
                    Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
                    still in their infancy.
                </p>
            </div>
        </div>

    </div>
</section>