<section class="about-us-mission section">
    <div class="container">
        <div class="about-us-mission__inner">
            <div class="about-us-mission__content">
                <h2 class="about-us-mission__title title-800 title-800--lg">
                    Our Mission
                </h2>
                <p class="about-us-mission__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing Pharetra
                    Ld eu aliquet diam lorem viverra at justo. Nulla odio nequefjf gravida in pharetra egestas. Ac id
                    sagittis at morbi
                    interdum nibh diam sagittis et.
                </p>
                <p class="about-us-mission__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing Pharetra
                    id eu aliquet diam lorem viverra at justo. Nulla odio nequesg gravida in pharetra egestas.
                </p>
            </div>
            <div class="about-us-mission__img-box">
                <img class="about-us-mission__img" src="images/about-us/mission-img.jpg" alt="tablet photo">
            </div>
        </div>
    </div>
</section>