.about-us-career {
    border-top: 1px solid #e3e3e3;
    padding: 200px 188px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        max-width: 475px;
    }

    &__subtitle {
    }

    &__title {
    }

    &__career-list {
        max-width: 835px;
    }

    &__career-item {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__career-card {
    }
}

.card-career {
    border-radius: 30px;
    border: 1px solid #cbcbcb;
    padding: 60px 65px;
    transition: all 0.3s;

    &:hover {
        background-color: $color-primary-1;
        color: $color-secondary-4;
        .card-career__title,
        .card-career__location,
        .card-career__employment-type {
            color: $color-secondary-4;
        }
        .card-career__location::after {
            background-color: $color-secondary-4;
        }
    }
    &:focus {
    }
    &:active {
    }

    &__title {
        margin-bottom: 13px;
        transition: all 0.3s;
    }

    &__block-info {
        font-size: 20px;
        line-height: 1.66;
        margin-bottom: 23px;
    }

    &__location {
        color: $color-primary-2;
        padding-right: 20px;
        margin-right: 20px;
        transition: all 0.3s;
        position: relative;

        &::after {
            @include pseudo;
            width: 1px;
            height: 100%;
            top: 0;
            right: 0;
            background-color: $color-primary-2;
            transition: all 0.3s;
        }
    }

    &__employment-type {
        color: $color-primary-1;
        transition: all 0.3s;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__link {
        border: 1px solid rgba(211, 211, 211, 1);

        &:hover {
            border: 1px solid $color-primary-2;
        }
        &:focus {
        }
        &:active {
        }
    }

    // card-career--blue //
    &--blue {
        background-color: $color-primary-1;
        color: $color-secondary-4;
        text-align: center;
    }
}
