.about-us-values {
    padding-bottom: 200px;

     @media (max-width: $xl) {
        padding-bottom: 100px;;
    }

     @media (max-width: $lg) {
        padding-bottom: 50px;;
    }

    &__heading {
    }
    &__subtitle {
    }
    &__title {
    }

    &__values-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;

        @media (max-width: $sm) {
            gap: 30px;
        }
    }

    &__values-item {
    }
}

.item-values {
    max-width: 47%;
    min-height: 238px;
    background-color: $color-secondary-1;
    padding: 39px 27px 39px 197px;
    border-radius: 30px;
    position: relative;

    @media (max-width: $xl) {
        max-width: 100%;
        padding: 39px 27px 39px 197px;
    }

    @media (max-width: $sm) {
        text-align: center;
        padding: 115px 15px 25px 15px;
    }

    &::before {
        @include pseudo;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        top: 39px;
        left: 27px;
        width: 130px;
        height: 160px;

        @media (max-width: $sm) {
            top: 25px;
            left: 50%;
            width: 60px;
            height: 75px;
            transform: translateX(-50%);
        }
    }
    &--1::before {
        background-image: url("../images/about-us/icon-values-1.jpg");
    }
    &--2::before {
        background-image: url("../images/about-us/icon-values-2.jpg");
    }
    &--3::before {
        background-image: url("../images/about-us/icon-values-3.jpg");
    }
    &--4::before {
        background-image: url("../images/about-us/icon-values-4.jpg");
    }

    &__title {
        margin-bottom: 10px;
    }

    &__text {
    }
}
