<section class="homepage-pricing section">
   <div class="container">
      <div class="homepage-pricing__inner">
         <div class="homepage-pricing__content">
            <h2 class="homepage-pricing__title title-section">
               Pricing
            </h2>
            <h3 class="homepage-pricing__subtitle subtitle">
               Simple and flexible pricing
            </h3>
            <p class="homepage-pricing__text">
               It is a long established fact that a reader the will be distracted by the readable content of a page from
               when looking
               at it layout.
            </p>
            <div class="homepage-pricing__payment">
               <h4 class="homepage-pricing__payment-title">
                  Accepted Payment Methods
               </h4>
               <ul class="homepage-pricing__payment-list">
                  <li class="homepage-pricing__payment-item">
                     <img class="homepage-pricing__payment-img" width="96" height="55" src="images/icons/visa.png"
                        alt="icon visa">
                  </li>
                  <li class="homepage-pricing__payment-item">
                     <img class="homepage-pricing__payment-img" width="96" height="55"
                        src="images/icons/master-card.png" alt="icon master-card">
                  </li>
                  <li class="homepage-pricing__payment-item">
                     <img class="homepage-pricing__payment-img" width="96" height="55" src="images/icons/paypal.png"
                        alt="icon paypal">
                  </li>
                  <li class="homepage-pricing__payment-item">
                     <img class="homepage-pricing__payment-img" width="96" height="55" src="images/icons/amazon.png"
                        alt="icon amazon">
                  </li>
               </ul>
            </div>

         </div>

         <div class="homepage-pricing__card">
            <article class="pricing-card">
               <div class="pricing-card__top">
                  <h3 class="pricing-card__top-title">
                     Basic
                  </h3>
                  <span class="pricing-card__top-promo btn">
                     Save 30%
                  </span>
               </div>
               <div class="pricing-card__body">
                  <div class="pricing-card__price">
                     $7.99
                     <span class="pricing-card__price-month">/ month</span>
                     <div class="pricing-card__price-year">
                        Billed as $<span>96</span>per year
                     </div>
                  </div>
                  <ul class="pricing-card__description-list">
                     <li class="pricing-card__description-item">
                        Unlimited members
                     </li>
                     <li class="pricing-card__description-item">
                        <span>Unlimited</span> feedback
                     </li>
                     <li class="pricing-card__description-item">
                        Weekly team Feedback Friday
                     </li>
                     <li class="pricing-card__description-item">
                        Custom Kudos <span> +9 illustration</span>
                     </li>
                     <li class="pricing-card__description-item">
                        Team feedback history
                     </li>
                  </ul>
                  <a class="pricing-card__link btn btn--border" href="#">
                     Get Started
                  </a>
               </div>
            </article>
            <article class="pricing-card">
               <div class="pricing-card__top">
                  <h3 class="pricing-card__top-title">
                     Advanced
                  </h3>
                  <span class="pricing-card__top-promo btn">
                     Popular
                  </span>
               </div>
               <div class="pricing-card__body">
                  <div class="pricing-card__price">
                     $10.99
                     <span class="pricing-card__price-month">/ month</span>
                     <div class="pricing-card__price-year">
                        Billed as $<span>199</span>per year
                     </div>
                  </div>
                  <ul class="pricing-card__description-list">
                     <li class="pricing-card__description-item">
                        Unlimited members
                     </li>
                     <li class="pricing-card__description-item">
                        <span>Unlimited</span> feedback
                     </li>
                     <li class="pricing-card__description-item">
                        Weekly team Feedback Friday
                     </li>
                     <li class="pricing-card__description-item">
                        Custom Kudos <span> +9 illustration</span>
                     </li>
                     <li class="pricing-card__description-item">
                        Team feedback history (30 items)
                     </li>
                     <li class="pricing-card__description-item">
                        Personal feedback history (6 items)
                     </li>
                     <li class="pricing-card__description-item">
                        Slack integration
                     </li>
                  </ul>
                  <a class="pricing-card__link btn btn--border" href="#">
                     Get Started
                  </a>
               </div>
            </article>
         </div>
      </div>
   </div>
</section>