.homepage-blog {
    
    &__articles-box {
        display: flex;
        gap: 40px;

        @media (max-width: $xl) {
            gap: 20px;
        }

        @media (max-width: $lg) {
            flex-direction: column;
        }
    }
}
