<section class="homepage-features section">
    <div class="container">
        <div class="homepage-features__top">
            <h2 class="homepage-features__title title-section">
                Features
            </h2>
            <h3 class="homepage-features__subtitle subtitle">
                Powerful features to boost
                your productivity
            </h3>
        </div>

        <div class="homepage-features__inner">
            <artilce class="homepage-features__card card-features">
                <img class="card-features__img" src="images/card-features-img1.png" alt="img">
                <h4 class="card-features__title">
                    Secured Platform
                </h4>
                <p class="card-features__text">
                    Contrary to popular belief, Lore Ipsum is not simply random text. It has roots in a piece.
                </p>
                <a class="card-features__link" href="#">
                    Learn More
                </a>
            </artilce>
            <artilce class="homepage-features__card card-features">
                <img class="card-features__img" src="images/card-features-img2.png" alt="img">
                <h4 class="card-features__title">
                    Advanced Analytics
                </h4>
                <p class="card-features__text">
                    Contrary to popular belief, Lore Ipsum is not simply random text. It has roots in a piece.
                </p>
                <a class="card-features__link" href="#">
                    Learn More
                </a>
            </artilce>
            <artilce class="homepage-features__card card-features">
                <img class="card-features__img" src="images/card-features-img3.png" alt="img">
                <h4 class="card-features__title">
                    Powerful Automation
                </h4>
                <p class="card-features__text">
                    Contrary to popular belief, Lore Ipsum is not simply random text. It has roots in a piece.
                </p>
                <a class="card-features__link" href="#">
                    Learn More
                </a>
            </artilce>
        </div>
    </div>
</section>