<section class="pricing">
    <div class="container">
        <div class="pricing__heading heading">
            <h1 class="pricing__heading-title title-800 title-800--xl">
                Pricing
            </h1>
            <p class="pricing__heading-text">
                Lorem ipsum dolor sit amet consectetur adipiscing elit
                interdum ullamcorper sed pharetra sene.
            </p>
        </div>

        <ul class="pricing__pricing-list flex-center-wrap">
            <li class="pricing__pricing-item">
                <article class="pricing-card ">
                    <div class="pricing-card__top">
                        <h3 class="pricing-card__top-title title-800 title-800--md">
                            Basic
                        </h3>
                        <span class="pricing-card__top-promo btn">
                            Save 30%
                        </span>
                    </div>
                    <div class="pricing-card__body">
                        <div class="pricing-card__price title-800 title-800--md">
                            $7.99
                            <span class="pricing-card__price-month">/ month</span>
                            <div class="pricing-card__price-year">
                                Billed as $<span>96</span>per year
                            </div>
                        </div>
                        <ul class="pricing-card__description-list">
                            <li class="pricing-card__description-item">
                                Unlimited members
                            </li>
                            <li class="pricing-card__description-item">
                                <span>Unlimited</span> feedback
                            </li>
                            <li class="pricing-card__description-item">
                                Weekly team Feedback Friday
                            </li>
                            <li class="pricing-card__description-item">
                                Custom Kudos <span> +9 illustration</span>
                            </li>
                            <li class="pricing-card__description-item">
                                Team feedback history
                            </li>
                        </ul>
                        <a class="pricing-card__link btn btn--border" href="#">
                            Get Started
                        </a>
                    </div>
                </article>
            </li>
            <li class="pricing__pricing-item">
                <article class="pricing-card pricing-card--current">
                    <div class="pricing-card__top">
                        <h3 class="pricing-card__top-title title-800 title-800--md title-800--white">
                            Advanced
                        </h3>
                        <span class="pricing-card__top-promo pricing-card__top-promo--current btn">
                            Popular
                        </span>
                    </div>
                    <div class="pricing-card__body">
                        <div class="pricing-card__price title-800 title-800--md title-800--white">
                            $10.99
                            <span class="pricing-card__price-month">/ month</span>
                            <div class="pricing-card__price-year pricing-card__price-year--current">
                                Billed as $<span>199</span>per year
                            </div>
                        </div>
                        <ul class="pricing-card__description-list">
                            <li class="pricing-card__description-item">
                                Unlimited members
                            </li>
                            <li class="pricing-card__description-item pricing-card__description-item--current">
                                <span>Unlimited</span> feedback
                            </li>
                            <li class="pricing-card__description-item">
                                Weekly team Feedback Friday
                            </li>
                            <li class="pricing-card__description-item pricing-card__description-item--current">
                                Custom Kudos <span> +9 illustration</span>
                            </li>
                            <li class="pricing-card__description-item">
                                Team feedback history (30 items)
                            </li>
                            <li class="pricing-card__description-item">
                                Personal feedback history (6 items)
                            </li>
                            <li class="pricing-card__description-item">
                                Slack integration
                            </li>
                        </ul>
                        <a class="pricing-card__link btn btn--white" href="#">
                            Get Started
                        </a>
                    </div>
                </article>
            </li>
            <li class="pricing__pricing-item">
                <article class="pricing-card ">
                    <div class="pricing-card__top">
                        <h3 class="pricing-card__top-title title-800 title-800--md">
                            Pro
                        </h3>
                        <span class="pricing-card__top-promo btn">
                            Popular
                        </span>
                    </div>
                    <div class="pricing-card__body">
                        <div class="pricing-card__price title-800 title-800--md">
                            $15.99
                            <span class="pricing-card__price-month">/ month</span>
                            <div class="pricing-card__price-year">
                                Billed as $<span>243</span>per year
                            </div>
                        </div>
                        <ul class="pricing-card__description-list">
                            <li class="pricing-card__description-item">
                                Unlimited members
                            </li>
                            <li class="pricing-card__description-item">
                                <span>Unlimited</span> feedback
                            </li>
                            <li class="pricing-card__description-item">
                                Weekly team Feedback Friday
                            </li>
                            <li class="pricing-card__description-item">
                                Custom Kudos <span> +9 illustration</span>
                            </li>
                            <li class="pricing-card__description-item">
                                Team feedback history (30 items)
                            </li>
                            <li class="pricing-card__description-item">
                                Personal feedback history (6 items)
                            </li>
                            <li class="pricing-card__description-item">
                                Slack integration
                            </li>
                        </ul>
                        <a class="pricing-card__link btn btn--border" href="#">
                            Get Started
                        </a>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>