<section class="features">
    <div class="container">
        <div class="features__heading heading">
            <h1 class="features__heading-title title-800 title-800--xl">
                Features
            </h1>
            <p class="features__heading-text">
                Lorem ipsum dolor sit amet consectetur adipiscing elit
                interdum ullamcorper sed pharetra sene.
            </p>
        </div>

        <div class="features-analytics">
            <div class="features-analytics__heading heading">
                <div class="features-analytics__subtitle subtitle">
                    Analytics
                </div>
                <h2 class="features-analytics__title title-800 title-800--lg">
                    Powerful features to
                    advanced user analytics
                </h2>
            </div>
            <ul class="features-analytics__analytics-list flex-center-wrap">
                <li class="features-analytics__analytics-item">
                    <artilce class="features-analytics__analytics-card card-features">
                        <img class="card-features__img" src="images/card-features-img1.png" alt="img">
                        <h4 class="card-features__title">
                            Secured Platform
                        </h4>
                        <p class="card-features__text">
                            Contrary to popular belief, Lore Ipsum is not simply random text. It has roots in a piece.
                        </p>
                        <a class="card-features__link" href="#">
                            Learn More
                        </a>
                    </artilce>
                </li>
                <li class="features-analytics__analytics-item">
                    <artilce class="features-analytics__analytics-card card-features">
                        <img class="card-features__img" src="images/card-features-img1.png" alt="img">
                        <h4 class="card-features__title">
                            Advanced Analytics
                        </h4>
                        <p class="card-features__text">
                            Contrary to popular belief, Lore Ipsum is not simply random text. It has roots in a piece.
                        </p>
                        <a class="card-features__link" href="#">
                            Learn More
                        </a>
                    </artilce>
                </li>
                <li class="features-analytics__analistic-item">
                    <artilce class="features-analytics__analytics-card card-features">
                        <img class="card-features__img" src="images/card-features-img1.png" alt="img">
                        <h4 class="card-features__title">
                            Powerful Automation
                        </h4>
                        <p class="card-features__text">
                            Contrary to popular belief, Lore Ipsum is not simply random text. It has roots in a piece.
                        </p>
                        <a class="card-features__link" href="#">
                            Learn More
                        </a>
                    </artilce>
                </li>
            </ul>
        </div>
    </div>
</section>



