<section class="features-integration section">
    <div class="container">
        <div class="features-integration__heading heading">
            <div class="features-integration__label-section label-section">
                Integration
            </div>
            <h2 class="features-integration__title title-800 title-800--lg">
                Connect all your tools
                and work efficiently.
            </h2>
        </div>

        <ul class="features-integration__integration-list flex-center-wrap">
            <li class="features-integration__integration-item">
                <artilce class="features-integration__integration-card card-features">
                    <img class="card-features__img" src="images/card-features-img4.svg" alt="img">
                    <h4 class="card-features__title">
                        20+ integrations
                    </h4>
                    <p class="card-features__text">
                        Contrary to popular belief, Lore Ipsum is not simply random text. It has roots in a piece.
                    </p>
                    <a class="card-features__link" href="#">
                        Learn More
                    </a>
                </artilce>
            </li>
            <li class="features-integration__integration-item">
                <artilce class="features-integration__integration-card card-features">
                    <img class="card-features__img" src="images/card-features-img5.svg" alt="img">
                    <h4 class="card-features__title">
                        All-in-one platform
                    </h4>
                    <p class="card-features__text">
                        Contrary to popular belief, Lore Ipsum is not simply random text. It has roots in a piece.
                    </p>
                    <a class="card-features__link" href="#">
                        Learn More
                    </a>
                </artilce>
            </li>
            <li class="features-integration__integration-item">
                <artilce class="features-integration__integration-card card-features">
                    <img class="card-features__img" src="images/card-features-img6.svg" alt="img">
                    <h4 class="card-features__title">
                        Advanced charts
                    </h4>
                    <p class="card-features__text">
                        Contrary to popular belief, Lore Ipsum is not simply random text. It has roots in a piece.
                    </p>
                    <a class="card-features__link" href="#">
                        Learn More
                    </a>
                </artilce>
            </li>
        </ul>
    </div>
</section>