.homepage-features {
    
  &__heading {
    max-width: 640px;
  }

  &__title {

  }

  &__subtitle {}

  &__inner {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__card {}
}


