<section class="integration-social">
    <div class="container">
        <div class="integration-social__heading heading">
            <h1 class="integration-social__heading-title title-800 title-800--xl">
                Integrations
            </h1>
            <p class="integration-social__heading-text">
                Lorem ipsum dolor sit amet consectetur adipiscing elit
                interdum ullamcorper sed pharetra sene.
            </p>
        </div>
        <ul class="integration-social__list">
            <li class="integration-social__item">
                <div class="integration-social__item-top integration-social__item-top--facebook">
                    <h3 class="integration-social__item-title title-700">
                        Facebook
                    </h3>
                    <span class="integration-social__item-subtitle">
                        Social
                    </span>
                </div>
                <p class="integration-social__item-text">
                    Contrary to popular belief, Lorem
                    Ipsum is not simply random text.
                    has roots in a piece. 
                </p>
                <a class="integration-social__item-link" href="#">
                    View Integration
                </a>
            </li>
            <li class="integration-social__item">
                <div class="integration-social__item-top integration-social__item-top--twitter">
                    <h3 class="integration-social__item-title title-700">
                        Twitter
                    </h3>
                    <span class="integration-social__item-subtitle">
                        Social
                    </span>
                </div>
                <p class="integration-social__item-text">
                    Contrary to popular belief, Lorem
                    Ipsum is not simply random text.
                    has roots in a piece.
                </p>
                <a class="integration-social__item-link" href="#">
                    View Integration
                </a>
            </li>
            <li class="integration-social__item">
                <div class="integration-social__item-top integration-social__item-top--youtube">
                    <h3 class="integration-social__item-title title-700">
                        Youtube
                    </h3>
                    <span class="integration-social__item-subtitle">
                        Social
                    </span>
                </div>
                <p class="integration-social__item-text">
                    Contrary to popular belief, Lorem
                    Ipsum is not simply random text.
                    has roots in a piece.
                </p>
                <a class="integration-social__item-link" href="#">
                    View Integration
                </a>
            </li>
            <li class="integration-social__item">
                <div class="integration-social__item-top integration-social__item-top--pinterest">
                    <h3 class="integration-social__item-title title-700">
                        Pinterest
                    </h3>
                    <span class="integration-social__item-subtitle">
                        Social
                    </span>
                </div>
                <p class="integration-social__item-text">
                    Contrary to popular belief, Lorem
                    Ipsum is not simply random text.
                    has roots in a piece.
                </p>
                <a class="integration-social__item-link" href="#">
                    View Integration
                </a>
            </li>
            <li class="integration-social__item">
                <div class="integration-social__item-top integration-social__item-top--twitch">
                    <h3 class="integration-social__item-title title-700">
                        Twitch
                    </h3>
                    <span class="integration-social__item-subtitle">
                        Social
                    </span>
                </div>
                <p class="integration-social__item-text">
                    Contrary to popular belief, Lorem
                    Ipsum is not simply random text.
                    has roots in a piece.
                </p>
                <a class="integration-social__item-link" href="#">
                    View Integration
                </a>
            </li>
            <li class="integration-social__item">
                <div class="integration-social__item-top integration-social__item-top--snapchat">
                    <h3 class="integration-social__item-title title-700">
                        Snapchat
                    </h3>
                    <span class="integration-social__item-subtitle">
                        Social
                    </span>
                </div>
                <p class="integration-social__item-text">
                    Contrary to popular belief, Lorem
                    Ipsum is not simply random text.
                    has roots in a piece.
                </p>
                <a class="integration-social__item-link" href="#">
                    View Integration
                </a>
            </li>
        </ul>
    </div>
</section>