.homepage-pricing {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $xxl) {
            flex-direction: column;
        }
    }

    &__content {
        max-width: 443px;

        @media (max-width: $xxl) {
            max-width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
    }

    &__heading {
        margin-bottom: 25px;
    }

    &__title {
    }

    &__subtitle {
        margin-bottom: 26px;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__payment {
     
        &-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 5px;
            padding: 18px 10px;
            margin-top: 30px;
            background-color: $color-secondary-1;
            border-radius: 20px;
        }

        &-item {
        }
        &-img {
        }
    }

    &__card {
        display: flex;
        gap: 20px;

        @media (max-width: $lg) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}


