<section class="careers-positions section">
    <div class="container">
        <h2 class="careers-positions__title title-800 title-800--lg">
            Current job open positions
        </h2>
        <ul class="careers-positions__positions-list">
            <li class="careers-positions__positions-item">
                <article class="careers-positions__card card-career">
                    <h3 class="card-career__title title-700">
                        Web Designer & Developer
                    </h3>
                    <div class="card-career__block-info">
                        <span class="card-career__location">
                            San Francisco, CA
                        </span>
                        <span class="card-career__employment-type">
                            Full Time
                        </span>
                    </div>
                    <p class="card-career__text">
                        It is a long established fact that a reader will be distracted by the readable
                        content of a
                        page from when looking at it
                        layout. The point of using Lorem Ipsum looking at it layout.
                        It is a long established fact that a reader will be distracted by the readable
                        content of a
                        page from when looking at it
                        layout. The point of using Lorem Ipsum looking at it layout.
                    </p>
                    <a class="card-career__link btn btn--white" href="#">
                        Apply Now
                    </a>
                </article>
            </li>
            <li class="careers-positions__positions-item">
                <article class="careers-positions__card card-career">
                    <h3 class="card-career__title title-700">
                        Front-end developer
                    </h3>
                    <div class="card-career__block-info">
                        <span class="card-career__location">
                            San Francisco, CA
                        </span>
                        <span class="card-career__employment-type">
                            Full Time
                        </span>
                    </div>
                    <p class="card-career__text">
                        It is a long established fact that a reader will be distracted by the readable
                        content of a
                        page from when looking at it
                        layout. The point of using Lorem Ipsum looking at it layout.
                    </p>
                    <a class="card-career__link btn btn--white" href="#">
                        Apply Now
                    </a>
                </article>
            </li>
            <li class="careers-positions__positions-item">
                <article class="careers-positions__card card-career">
                    <h3 class="card-career__title title-700">
                        SEO Specialist
                    </h3>
                    <div class="card-career__block-info">
                        <span class="card-career__location">
                            San Francisco, CA
                        </span>
                        <span class="card-career__employment-type">
                            Full Time
                        </span>
                    </div>
                    <p class="card-career__text">
                        It is a long established fact that a reader will be distracted by the readable
                        content of a
                        page from when looking at it
                        layout. The point of using Lorem Ipsum looking at it layout.
                    </p>
                    <a class="card-career__link btn btn--white" href="#">
                        Apply Now
                    </a>
                </article>
            </li>
            <li class="careers-positions__positions-item">
                <article class="careers-positions__card card-career">
                    <h3 class="card-career__title title-700">
                        UI / UX Designer
                    </h3>
                    <div class="card-career__block-info">
                        <span class="card-career__location">
                            San Francisco, CA
                        </span>
                        <span class="card-career__employment-type">
                            Full Time
                        </span>
                    </div>
                    <p class="card-career__text">
                        It is a long established fact that a reader will be distracted by the readable
                        content of a
                        page from when looking at it
                        layout. The point of using Lorem Ipsum looking at it layout.
                    </p>
                    <a class="card-career__link btn btn--white" href="#">
                        Apply Now
                    </a>
                </article>
            </li>
            <li class="careers-positions__positions-item">
                <article class="careers-positions__card card-career">
                    <h3 class="card-career__title title-700">
                        Backend Developer
                    </h3>
                    <div class="card-career__block-info">
                        <span class="card-career__location">
                            San Francisco, CA
                        </span>
                        <span class="card-career__employment-type">
                            Full Time
                        </span>
                    </div>
                    <p class="card-career__text">
                        It is a long established fact that a reader will be distracted by the readable
                        content of a
                        page from when looking at it
                        layout. The point of using Lorem Ipsum looking at it layout.
                    </p>
                    <a class="card-career__link btn btn--white" href="#">
                        Apply Now
                    </a>
                </article>
            </li>
            <li class="careers-positions__positions-item">
                <article class="careers-positions__card card-career">
                    <h3 class="card-career__title title-700">
                        Condent Wrtiter
                    </h3>
                    <div class="card-career__block-info">
                        <span class="card-career__location">
                            San Francisco, CA
                        </span>
                        <span class="card-career__employment-type">
                            Full Time
                        </span>
                    </div>
                    <p class="card-career__text">
                        It is a long established fact that a reader will be distracted by the readable
                        content of a
                        page from when looking at it
                        layout. The point of using Lorem Ipsum looking at it layout.
                    </p>
                    <a class="card-career__link btn btn--white" href="#">
                        Apply Now
                    </a>
                </article>
            </li>
        </ul>
    </div>
</section>