<section class="careers-values section">
    <div class="container">
        <div class="careers-values__heading heading">
            <div class="careers-values__subtitle subtitle">
                Values
            </div>
            <h2 class="careers-values__title title-800 title-800--lg">
                Values that define us
            </h2>
        </div>
        <ul class="careers-values__values-list">
            <li class="careers-values__values-item careers-values__values-item--patients">
                <h3 class="careers-values__values-title title-700">
                    Patients come first
                </h3>
                <p class="careers-values__values-text">
                    Contrary to popular belief, Ipsum is not simply random text. It has roots in a piece.
                </p>
            </li>
            <li class="careers-values__values-item careers-values__values-item--salary">
                <h3 class="careers-values__values-title title-700">
                    Competitive salary
                </h3>
                <p class="careers-values__values-text">
                    Contrary to popular belief, Ipsum is not simply random text. It has roots in a piece.
                </p>
            </li>
            <li class="careers-values__values-item careers-values__values-item--growth">
                <h3 class="careers-values__values-title title-700">
                    Career growth
                </h3>
                <p class="careers-values__values-text">
                    Contrary to popular belief, Ipsum is not simply random text. It has roots in a piece.
                </p>
            </li>
            <li class="careers-values__values-item careers-values__values-item--holidays">
                <h3 class="careers-values__values-title title-700">
                    Holidays & Parental
                </h3>
                <p class="careers-values__values-text">
                    Contrary to popular belief, Ipsum is not simply random text. It has roots in a piece.
                </p>
            </li>
            <li class="careers-values__values-item careers-values__values-item--hours">
                <h3 class="careers-values__values-title title-700">
                    Flexible hours
                </h3>
                <p class="careers-values__values-text">
                    Contrary to popular belief, Ipsum is not simply random text. It has roots in a piece.
                </p>
            </li>
            <li class="careers-values__values-item careers-values__values-item--insurance">
                <h3 class="careers-values__values-title title-700">
                    Medical insurance
                </h3>
                <p class="careers-values__values-text">
                    Contrary to popular belief, Ipsum is not simply random text. It has roots in a piece.
                </p>
            </li>
        </ul>
    </div>
</section>