<section class="careers-main section section--top">
    <div class="container">
        <div class="careers-main__heading heading">
            <h1 class="careers-main__heading-title title-800 title-800--xl">
                Careers
            </h1>
            <p class="careers-main__heading-text">
                Lorem ipsum dolor sit amet consectetur adipiscing elit
                interdum ullamcorper sed pharetra sene.
            </p>
            <a class="careers-main__heading-link btn btn--blue" href="#">
                Browse Open Positions
            </a>
        </div>
    
        <div class="careers-main__inner">
            <div class="careers-main__img">
                <img src="../images/careers/img-11.jpg" alt="img-1" width="681" height="701">
            </div>
            <div class="careers-main__img">
                <img src="../images/careers/img-22.jpg" alt="img-2" width="681" height="701">
            </div>
        </div>
    </div>
</section>